.service-card{
    border-radius: 20px;
    align-content: center;
    
}

.service-container{
    /* background-color:#5DBCD2; */
    background-color: #00b3b3;
    padding:10px;
    width:100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 100% 100%, 100% 100%, 100% 100%, 0% 95%, 0% 10%)
}
.main-container{
    margin:auto;
    width:60%;
}
.header-label{
    color:white;

}
.card-image{
    border-radius:20px 20px 0 0;
}

.readmore-anchor{
    text-decoration: underline;
    font-weight:bold;
    
}

.book-btn{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00b3b3
}

.package-price{
    color:#00b3b3;
    font-weight: bold;
}


