
.doctor-image{
    padding:10px;
    width:50%;   
    padding:3%;     
    border-radius: 35px 35px 30% 30%;   

}

.doctor-container{
    background-color:#FAFAFA;
    border-radius: 30px 30px 0 0;
    margin-top:20px;
}

.doctor-header{
    /* color:#5DBCD2; */
    color:#00b3b3;
    font-weight: bold;
}

.doctor-main-container{
    margin:auto;
    width:60%;
   
}

